.boxes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding-top: 50px;
}
.box {
    width: calc((100vw - 80px)/4);
    height: 200px;
    background-color: gray;
    transition: all 0.3s linear;
}

.box1:hover {
    transform: translate(30px, -20px);
}

.box2:hover {
    transform: rotate(90deg);
}

.box3:hover {
    transform: scale(-1);
}

.box4:hover {
    transform: skew(20deg, 20deg);
}

.image {
    height: 600px;
    width: 400px;
    margin: 100px;
    /* filter: blur(2px); */
    /* filter: brightness(2); */
    /* filter: contrast(120%); */
    /* filter: grayscale(0.7); */
    /* filter: hue-rotate(180deg); */
    /* filter: invert(0.2); */
    /* filter: sepia(2); */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}