.box-table {
    background-color: rgb(248, 248, 248);
    width: max-content;
    margin: 0 auto;

}

table {
    border-spacing: 10px;
    /* border-collapse: collapse; */
    display: block;
}

th, td {
    padding: 10px 20px;

}
tr:first-child>th {
    color: white;
}

thead>tr>th:first-child {
    background-color: none;
}

tr:first-child>th:nth-child(2) {
background-color: rgb(70, 70, 134);
}
tr:first-child>th:nth-child(3) {
    background-color: rgb(89, 133, 255);
}

tr:first-child>th:nth-child(4) {
    background-color: rgb(27, 109, 216);
}

tr:first-child>th:nth-child(5) {
    background-color: rgb(17, 122, 221);
}

tr:first-child>th:nth-child(6) {
    background-color: rgb(9, 186, 209);
}

tfoot>tr>th:first-child {
    color: black;
}

tbody>tr>td {
    background-color: white;
    text-align: end;
}

tbody>tr>th{
    background-color: rgb(134, 134, 134);
    color: white;
}

tfoot>tr>td:not(:first-child) {
    text-align: end;
}

tr>th:first-child {
    text-align: start;
}

tfoot {
    display: ;
    border: 1px solid black;
}