.form {
    width: 15vw;
    max-width: 300px;
    min-width: 250px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

.form__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}

.form__label {
display: block;
margin-bottom: 8px;
}

.form__group {
        margin-bottom: 10px;
}

.form__input {
    display: block;
    width: 100%;
    padding: 10px 16px;
}

.form__btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px 25px;
    line-height: 1;
}

fieldset {
    margin-bottom: 15px;
} 
input, select, textarea {
    display: block;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    height: 90px;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}