/* ----------------- Global ------------------ */

body {
  font-family: "Barlow", sans-serif;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

/* ----------------- Header ------------------ */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 165px;
  z-index: 9;
}

.header__container {
  width: 100%;
  padding: 12px 360px;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.menu__list a {
  color: #fff;
  font-size: 18px;
  line-height: 30.006px;
  text-decoration: none;
}

/* ----------------- Hero Section ------------------ */

.hero {
  position: relative;
  padding: 165px 0;
  overflow: hidden;
}

.hero__container {
  min-height: 600px;
  padding: 0 268px;
}

.hero__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -9;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  z-index: -8;
}

.hero__title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 400;
  line-height: 84.024px;
  margin-bottom: 16px;
}

.hero__txt {
  width: 640px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 30.006px;
  margin-bottom: 35px;
}

/* ------------- Buttons ---------------- */

.buttons {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 20px;
}

.button a {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 25px 38px 30px 38px;
}

.hero__btns a,
.services__btns a,
.button__quote a {
  text-decoration: none;
  color: #fff;
}

.hero__quote-btn a,
.button__quote a {
  background: #ff4d01;
}

.hero__services-btn {
  border: 2px solid #fff;
}

.button__service a {
  border: 2px solid #191919;
  color: #191919;
}

/* --------------- Services Section -------------------- */

.services {
  padding: 100px 120px;
}

.services__container {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.services__title {
  margin-bottom: 15px;
  color: #ff4d01;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.services__caption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.services__caption h2 {
  width: 416px;
  color: #191919;
  font-size: 54px;
  font-weight: 400;
  line-height: 61.992px;
}

.services__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.services__box {
  padding-right: 29px;
}

.services__img {
  width: 70px;
  height: 68px;
  margin-bottom: 32px;
  overflow: hidden;
}

.services__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.services__name {
  margin-bottom: 14px;
  color: #191919;
  font-size: 34px;
  font-weight: 400;
  line-height: 48.008px;
}

.services__txt {
  margin-bottom: 20px;
}

.services__link {
  display: flex;
  align-items: center;
}

.services__quadrate {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #191919;
  margin-right: 10px;
}

.services__box a {
  color: #191919;
  font-size: 18px;
  text-decoration: none;
  line-height: 19.998px;
}

/* ------------- Offer section ------------------- */

.offer {
  padding-top: 100px;
  position: relative;
  overflow: hidden;
}

.offer__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
  min-height: 545px;
}

.offer__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -9;
}

.offer__title {
  margin-bottom: 20px;
  color: #191919;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 61.992px;
}

.offer__btn {
  display: flex;
  justify-content: flex-start;
}

.offer__txt {
  margin-bottom: 35px;
  color: #605e5d;
  font-size: 18px;
  line-height: 30.006px;
}

/* ----------- Footer -------------- */

.footer {
  padding: 25px 120px;
  background: #000;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  color: #989899;
  font-size: 18px;
  line-height: 30.006px;
}

.footer__designed {
  display: flex;
  color: #fff;
  font-size: 18px;
  line-height: 30.006px;
  gap: 10px;
}

.footer__redTxt {
  color: #ff4d01;
}
