/* body {
  height: 1500px;
}

.content {
  position: relative;
  margin: 100px;
  height: 1500px;
  padding: 40px;
  border: 3px solid red;
}

.box {
  width: 200px;
  height: 200px;
  padding: 20px;
  background-color: dimgrey;
  border: 1px solid #fff;
} */

/* относительно своего исходного положения */
/* .box1 {
  position: relative;
  left: 50px;
  top: 80px;
} */

/* Относительно ближайшего родителя */
/* .box2 {
  position: absolute;
  top: 0px;
  right: 0px;
} */

/* относительно окна браузера */

/* .box3 {
  position: fixed;
  bottom: 0;
  right: 0;
} */

/* приклеивается к месту при прокрутке внутри родителя */
/* .box4 {
  position: sticky;
  top: 100px;
  left: 400px;
} */

.body {
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.smile {
  position: relative;
  top: 25%;
  left: 35%;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-color: rgb(0, 253, 84);
}

.eye {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100px;
  border-radius: 100%;
  background-color: aliceblue;
}

.eye-1 {
  left: 100px;
}

.eye-2 {
  right: 100px;
}

.nose {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 50px;
  height: 50px;
  background-color: aliceblue;
}

.mouth {
  position: absolute;
  bottom: 20%;
  left: 30%;
  width: 200px;
  height: 30px;
  background-color: aliceblue;
}
